<?xml version="1.0"?>
<launch>

    <arg name="paused" default="false"/>
    <arg  name="use_sim_time" default="true"/>
    <param name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>


    <param name="robot_description" textfile="$(find cobot30_5)/urdf/cobot30_5.urdf"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find cobot30_5)/worlds/maze.world" />
        <!-- Always start in paused mode, and only unpause when spawning the model -->
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model panda"/> -->

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <rosparam command="load" file="$(find cobot30_5)/config/cobot30_5_controller.yaml"/>
    


    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args = "-param robot_description -urdf -model cobot30_5
        -J joint_1 0.0
        -J joint_2 0.0
        -J joint_3 0.0
        -J joint_4 0.0
        -J joint_5 0.0
        -J joint_6 0.0
        -J joint_7 0.0">
        
    </node>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      args="joint_state_controller cobot_controller" />
    <node pkg="cobot30_5" type="current_pose.py" name="current_pose" output="screen" launch-prefix="python3"/>
    <node pkg="cobot30_5" type="tinh_toa_do_tiep_theo.py" name="tinh_toa_do_tiep_theo" output="screen" launch-prefix="python3"/>
    <node pkg="cobot30_5" type="cal_matrix.py" name="cal_matrix" output="screen" launch-prefix="python3"/>
    <node pkg="cobot30_5" type="tinh_q_qd_qdd.py" name="tinh_q_qd_qdd" output="screen" launch-prefix="python3"/>
    <node pkg="cobot30_5" type="tinh_u.py" name="tinh_u" output="screen" launch-prefix="python3"/>
    <node pkg="cobot30_5" type="chap_hanh.py" name="chap_hanh" output="screen" launch-prefix="python3"/>

    <param name="rate" value="2500"/>
    <!-- Load map using map_server -->
    <arg name="map_file" default="$(find cobot30_5)/maps/maze.yaml"/>
    <node pkg="map_server" type="map_server" name="map_server" output="screen"
          args="$(arg map_file)"/>
    <!-- Static transform from map to odom -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom"
          args="0 0 0 0 0 0 map odom 100"/>
</launch>